
<tr>
    <td class="TransientColor">Transient </td>
    <td class="TransientColor">@ViewBag.Transient</td>
    <td class="TransientColor">@ViewBag.Transient2</td>
</tr>
<tr>
    <td class="ScopedColor">Scoped</td>
    <td class="ScopedColor">@ViewBag.Scoped</td>
    <td class="ScopedColor">@ViewBag.Scoped2</td>
</tr>
<tr>
    <td class="SingletonColor">Singleton</td>
    <td class="SingletonColor">@ViewBag.Singleton</td>
    <td class="SingletonColor">@ViewBag.Singleton2</td>
</tr>